.container {
    margin: auto;
    margin-top: 60px;
    max-width: 100%;            
    width: 100%;
    height: 100%;
}

.header{
    height: 60px;
    background-color:#ddd;    
}

.banner{
    float: left;
    width: 30%;
}

.links{
    float: right; 
    width: 68%;
    text-align: right;
}

